<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Api key</title>
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/manual">Manual trading</a></li>
        <li><a href="/secret">Change api key</a></li>
    </ul>
</nav>
<main>
    <div class="secret-form">
        <h2>Change api key</h2>
        <form method="post">
            <label for="api_key">Api key:</label>
            <input id="api_key" name="api_key" required type="text" size="80"><br>
            <label for="secret_key">Secret key:</label>
            <input id="secret_key" name="secret_key" required type="password" size="80"><br>
            <button type="submit" name="submit" value="submit">Change Api keys</button>
        </form>
    </div>
</main>
</body>
</html>